.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff589b 0%, #Ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-image: linear-gradient(to right, red , orange);
}
.cat2{
    background-image: linear-gradient(to right, red , orchid);

}
.cat3{
    background-image: linear-gradient(to right, red , blue);

}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: grey;
}
footer{
    text-align: center;
}